.scene {
	-fx-background-image: url("C:\\Users\\stottlern\\eclipse-workspace-spring-2019\\comp1050-Final\\images\\courtyard.jpg");
	 -fx-background-color: #CCFF99;
}
.sp {
	-fx-background-image: url("C:\\Users\\stottlern\\eclipse-workspace-spring-2019\\comp1050-Final\\images\\courtyard.jpg");
	-fx-background-color:black ;
}